<h1 class="title is-3">Products of <%= @category.name %>:</h1>
<div class="columns is-multiline">
  <%= render partial: 'products/product', collection: @category.products, locals: { show_link: true} %>
  <div class="column">
  </div>
</div>